*{
  box-sizing: border-box;
  transition: 0.2s ease;
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url(../src/Fonts/bpg_arial_2009.ttf);
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
  padding: 16px;
  text-decoration: none;
}
.offcanvas{
  z-index: 999999 !important;
}
.btn-1{
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
background: #FF753A;
color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 18.2px */
border: none;
margin-top: 16px;   
}
.guitarbackground{
  border-radius: 10px 10px 0px 0px;
  background: radial-gradient(138.81% 138.29% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
}
.guitarbackground1{
  background: #FFF;
}
.guitardesc{
  display: flex;
  padding: 16px 24px 24px 24px;
  flex-direction: column;
  gap: 6px;
background: var(--True-White, #FFF);
}
.cardi{
  
  /* Shaddow 1 */
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(28, 5, 77, 0.10);
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  }
  .h5{
      color: var(--252525, #252525);
  text-align: right;
  
  /* H6 */
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
  }
  .p1{
      color: var(--767676, #767676);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  }
.p2{
  color: var(--505050, #505050);
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.h6{
  color: #FFF;

  /* H4 */
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}
.h8{
  color: #202020;

  /* H4 */
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}
.h7{
  color: #C4C4C4;

/* H6 */
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 23.4px */
}
.h9{
  color: var(--White, #FFF);
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 18.2px */
}
.h10{
  color: var(--White, #FFF);
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
}
.p3{
  color: var(--White, #FFF);
text-align: start;
/* Caption */
font-family: Arial, Helvetica, sans-serif;
font-size: 12.8px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 17.92px */
}



/* big screen */
@media (min-width: 1200px) {
  /* CSS rules for screens with a maximum width of 768 pixels */

.width{
  width: 1264px !important;
}
li{
  color: #FCFCFC;
text-align: center;

/* H6 */
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 23.4px */
}
.logo{
  height:40px; 
  width:255px;
}
.background{
background-image: url(img/background.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 808px;
width: 100%;
background-position: center;
padding: 56px 0;
}
.h1{
  color: #FFF !important;
font-family: Arial, Helvetica, sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 67.2px */
letter-spacing: 1.12px;
margin-top: 183px;
}
.background2{
  word-wrap: break-word;
  display: flex;
height: 280px;
padding: 32px;
flex-direction: column;
align-items: center;
gap: 16px;
flex-shrink: 0;
border-radius: 10px;
background: url(img/backgroundred.jpg), lightgray 50% ;
background-color: #AB0433;
background-size: cover;
background-repeat: no-repeat;
background-blend-mode: darken, normal;
margin-top: -150px !important;
/* Shaddow 1 */
box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(28, 5, 77, 0.10);
}
.h2{
  color: var(--White, #FFF) !important;
text-align: center;
font-family: Work Sans;
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 55.2px */
}
.h3{
  color: #FFF !important;
text-align: center;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 149%; /* 35.76px */
}
.line{
  height: 3px;
  width: 80.29px;
  background: #AB0433;
}
.h4{
  color: var(--505050, #505050);
text-align: center;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 48px */
}
.backgrounddiv{
  background-image: url(img/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 487px;
}
.backgrounddiv2{
  background-image: url(img/img2.jpg);
  background-position: center;
  background-size: cover;
  height: 487px;
}
.ebfjkd{
  width: 616px;
}
.backgrounddiv1{
  border-radius: 0px 0px 10px 10px;
  display: flex;
padding: 32px;
flex-direction: column;
gap: 4px;
background: var(--252525, #252525);
}
.backgrounddiv4{
  border-radius: 0px 0px 10px 10px;
  display: flex;
padding: 32px;
flex-direction: column;
gap: 4px;
background: #EAEAEA;
}




}

/* mobile */
@media (max-width: 1200px) {
.width{
  max-width: 896px !important;
  min-width: 328px !important;
}
.logo{
  width: 153.196px;
  height: 24px;
}
.background{
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  padding: 56px 0 300px 0;
}
li{
  color: #FCFCFC;
text-align: center;

/* H6 */
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 23.4px */
}
.h1{
      color: #FFF;
      font-family: Work Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 38.4px */
      margin-top: 100px;
      width: 100%;
}
.background2{
  word-wrap: break-word;
  display: flex;
height: 280px;
padding: 32px;
flex-direction: column;
align-items: center;
gap: 16px;
flex-shrink: 0;
border-radius: 10px;
background: url(img/backgroundred.jpg), lightgray 50% ;
background-color: #AB0433;
background-size: cover;
background-repeat: no-repeat;
background-blend-mode: darken, normal;
margin-top: -150px !important;
/* Shaddow 1 */
box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(28, 5, 77, 0.10);
}
.h2{
  color: var(--White, #FFF);
text-align: center;
font-family: Work Sans;
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 55.2px */
}
.h3{
  color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 149%; /* 35.76px */
}
.line{
  height: 3px;
  width: 259.71px;
  background: #AB0433;
}
.h4{
  color: var(--505050, #505050);
  text-align: center;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}





}






@media (max-width: 600px) {
.width{
  width: 328px !important;
}
.h2{
  color: var(--White, #FFF);
  text-align: center;
  font-family: Work Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 25.2px */
}
.h3{
  color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 149%; /* 14.9px */
}
.background2{
  margin-top: -134px;
}
.line{
  height: 3px;
  width: 80px;
  background: #AB0433;
}
.h4{
  color: var(--505050, #505050);
  text-align: center;
  
  /* H4 */
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
  
}
.adsdadas{
  justify-content: center !important;
  width: 100% !important;
}

.h6{
  color: #FFF;

  /* H4 */
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}
.h8{
  color: var(--252525, #252525);

  /* H4 */
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}
.h7{
  color: #C4C4C4;

  /* H6 */
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
}
.backgrounddiv{
  background-image: url(img/img1.jpg);
  background-position: center;
  background-size: cover;
  height: 487px;
}
.backgrounddiv2{
  background-image: url(img/img2.jpg);
  background-position: center;
  background-size: cover;
  height: 487px;
}
.ebfjkd{
  width: 616px;
}
.backgrounddiv1{
  border-radius: 0px 0px 10px 10px;
  display: flex;
padding: 32px;
flex-direction: column;
gap: 4px;
background: var(--252525, #252525);
}
.backgrounddiv4{
  border-radius: 0px 0px 10px 10px;
  display: flex;
padding: 32px;
flex-direction: column;
gap: 4px;
background: #EAEAEA;
}
.p3{
  color: var(--White, #FFF);
text-align: center;
/* Caption */
font-family: Arial, Helvetica, sans-serif;
font-size: 12.8px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 17.92px */
}


}